.form-control {
  margin: 10px;
}

/* Para esconder as setas do input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fibpicture {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
