/* #addQuestion{
    height: 50vh;
    padding: 40px;
} */

input, textarea{
    width: 10vw;
}

#addQuestion form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

#addQuestion form #containerMaster{
    width: 70vw;
    height: 65vh;
    background: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#addQuestion form #containerChild{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#addQuestion #containerMaster #containerChild #container1,
#addQuestion #containerMaster #containerChild #container2,
#addQuestion #containerMaster #containerChild #container3{
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#addQuestion #containerMaster #containerChild #container1 #year,
#addQuestion #containerMaster #containerChild #container1 #title,
#addQuestion #containerMaster #containerChild #container2 #subject,
#addQuestion #containerMaster #containerChild #container2 #institution,
#addQuestion #containerMaster #containerChild #container2 #correctAnswer,
#addQuestion #containerMaster #containerChild #container2 #difficulty,
#addQuestion #containerMaster #containerChild #container3 .questions{
    display: flex;
    flex-direction: column;
}
